html,body {
    flex : 1;
    display: flex;
    width: 100%;
    height: 100%;
}

#input-box {

}

#queue-box {
    display: flex;
    flex : 1;
    flex-direction: column;
}

header {
    display: flex;
    flex : 1;
    flex-direction: column;
}

#box {
    margin :10px
}